
  .my-input:focus,
  .my-textarea:focus,
  .my-select:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .textAreaPelis{
    resize: none;
    height: 150px;
  }